<form id="form-reg">
    <div class="col-lg-offset-4 col-lg-4
                    col-md-offset-3 col-md-6
                    col-sm-offset-3 col-sm-6
                    col-xd-offset-3 col-xd-6
        ">
        <h3 class="pull-middle">用户注册</h3>
            <div>
            <label>用户名</label>
            <span>
                <input id="reg-username" type="text" class="form-control" placeholder="请输入用户名" v-model="username">
                <label class="msg-exception">{{exUsername}}</label>
            </span>
        </div>
        <div>
            <label>电子邮箱</label>
            <input id="reg-email" type="text" class="form-control" placeholder="请输入电子邮箱" v-model="email">
            <label class="msg-exception">{{exEmail}}</label>
        </div>
        <div>
            <label>用户密码</label>
            <input id="reg-password" type="password" class="form-control" placeholder="请输入用户密码" v-model="password">
            <label class="msg-exception">{{exPassword}}</label>
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input id="reg-rePassword" type="password" class="form-control" placeholder="请确认用户密码" v-model="rePassword">
            <label class="msg-exception">{{exRePassword}}</label>
        </div>
        <button id="btn-reg" type="button" class="btn btn-default">注册</button>
    </div>
</form>
<script>
    // 定义密码限制条件
    var passwordLengthMin = 6;
    var passwordLengthMax = 11;
    // 定义用户名限制条件
    var usernameLengthMin = 4;
    var usernameLengthMax = 20;
    // 定义邮箱限制条件
    var emailReg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
    // 创建vue对象
    var regVM = new Vue({
        el: '#form-reg',
        data: {
            username:"",
            email:"",
            password:"",
            rePassword:"",
            exUsername:"",
            exEmail:"",
            exPassword:"",
            exRePassword:""
        }
    });
    // 页面就绪事件
    $(function(){
        // 绑定提交按钮事件
        $("#btn-reg").click(reg);
        // TODO 临时使用，跳过注册
        $("#skip-reg").click(function(){
            $("#context-container").load("/page/initinfo");
        });
    });


    // 注册
    function reg(){
        // 重置错误提示信息
        resetMsgEx();
        // 调用验证方法
        if(regValidation()){
            var url = "/user/reg";
            var param = {
                username:regVM.username,
                password:regVM.password,
                email:regVM.email
            };
            // 发送AJAX请求
            $.post(url,param,function(result) {
                if (result.state == 2000) {
                    // 提示成功信息
                    alert("注册成功!");
                    // 绑定id数据
                    $("#mainContentId").data("userId",result.data);
                    // 加载初始化个人信息页面
                    $("#context-container").load("/page/initinfo");
                }else if(result.state == 4004){
                    regVM.exUsername = "用户名已存在！"
                }else if(result.state == 4003){
                    regVM.exEmail = "该邮箱已被使用！"
                }else{
                   alert(result.message);
                }
            });
        }
    }

    // 验证用户输入的数据
    function regValidation(){
        // 获取用户名长度
        var userLength = regVM.username.length;
        // 判断用户名长度是否不在范围
        if(userLength < usernameLengthMin || userLength > usernameLengthMax){
            // 是：显示提示
            regVM.exUsername = "用户名长度需要在" + usernameLengthMin + "~" + usernameLengthMax + "之间！"
            // 返回false
            return false;
        }
        // 判断邮箱是否符合规则
        if(!emailReg.test(regVM.email)){
            // 是：显示提示
            regVM.exEmail = "邮箱格式不正确！";
            // 返回false
            return false;
        }
        // 获取密码长度
        var pwdLength = regVM.password.length;
        // 判断密码长度是否不在范围
        if(pwdLength < passwordLengthMin || pwdLength > passwordLengthMax){
            // 是：显示提示
            regVM.exPassword = "密码长度需要在" + passwordLengthMin + "~" + passwordLengthMax + "之间！"
            // 返回false
            return false;
        }
        // 判断两次输入密码是否不一致
        if(regVM.password != regVM.rePassword){
            // 是：显示提示
            regVM.exRePassword = "两次密码输入不一致！"
            // 返回false
            return false;
        }
        // 返回true
        return true;
    }

    // 重置错误提示信息
    function resetMsgEx(){
        regVM.exUsername = "";
        regVM.exPassword = "";
        regVM.exRePassword = "";
        regVM.exEmail = "";
    }
</script>

