/*导航栏登录按钮样式*/
#msg-login{
    color: red;
}
/*a标签鼠标悬浮时的样式*/
a:hover{
    cursor: pointer;
}
/*表单容器*/
.form-container{
    border:1px solid #ddd;
}
/*使组件居中*/
.pull-middle{
    margin: 0 auto;
    display: table;
}
/*用户输入数据错误时给出的提示的样式*/
.msg-exception{
    margin-top: 5px;
    color: #e22b2b;
    font-weight: normal;
}
/*上传头像界面的图片样式*/
.img-avatar-upload{
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}
/*按钮占满上级元素的宽*/
.btn-full-line{
    width: 100%;
}
/*跳过的a标签样式*/
.a-skip{
    line-height: 32px;
}
/*上传头像按钮的样式*/
.btn-avatar-upload{
    margin-bottom: 20px;
}