/*导航栏登录按钮样式*/
#msg-login{
    color: red;
}
/*a标签鼠标悬浮时的样式*/
a:hover{
    cursor: pointer;
}
/*表单容器*/
.form-container{
    border:1px solid #ddd;
}
/*使组件居中*/
.pull-middle{
    margin: 0 auto;
    display: table;
}
/*用户输入数据错误时给出的提示的样式*/
.msg-exception{
    margin-top: 5px;
    color: #e22b2b;
    font-weight: normal;
}