<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dong.mymall.mapper.UserMapper">

    <!--插入用户数据-->
    <!--Integer insert(UserDO userDO);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user(
	        username,password,salt,email,
	        nickname,phone,gender,age,
	        avatar,is_delete,create_user,create_time,
	        modified_user,modified_time
        )VALUES(
            #{username},#{password},#{salt},#{email},
	        #{nickname},#{phone},#{gender},#{age},
	        #{avatar},#{isDelete},#{createUser},#{createTime},#{modifiedUser},
	        #{modifiedTime}
        )
    </insert>

    <!--根据id修改用户数据-->
    <!--Integer updateInfoById(UserDO userDO);-->
    <update id="updateInfoById">
        UPDATE
            t_user
        SET
	        nickname=#{nickname},
	        phone=#{phone},
	        gender=#{gender},
	        age=#{age},
	        modified_user=#{modifiedUser},
	        modified_time=#{modifiedTime}
	    WHERE
	        id=#{id}
    </update>

    <!--根据用户名查找用户-->
    <!--UserDO findByUsername(String username);-->
    <select id="findByUsername" resultType="com.dong.mymall.pojo.UserDO">
        SELECT * FROM t_user WHERE username=#{username}
    </select>

    <!--根据邮箱查找用户-->
    <!--UserDO findByEmail(String email);-->
    <select id="findByEmail" resultType="com.dong.mymall.pojo.UserDO">
        SELECT * FROM t_user WHERE email=#{email}
    </select>

    <!--根据id查找用户-->
    <!--UserDO findById(Long id);-->
    <select id="findById" resultType="com.dong.mymall.pojo.UserDO">
        SELECT * FROM t_user WHERE id=#{id}
    </select>

</mapper>